# Logs
logs
*.log

npm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?
